.section__image__wrapper {
  width: 100%;
  position: relative;
}

.section__image__wrapper__img {
  max-width: 100%;
}

@media (min-width: 500px) {
  .section__image__wrapper {
    margin-top: 2em;
    z-index: -1;
  }
}

@media (min-width: 950px) {
  .section__image__wrapper {
    width: 48%;
    margin-top: 0;
  }

  .section__image__wrapper--2 {
    margin-left: -10em;
    margin-top: -5em;
  }
}

@media (min-width: 1450px) {
  .section__image__wrapper {
    width: 47%;
    margin-top: 0;
  }
}
