.form__controls--password {
  position: relative;
}

.form__controls--password input:focus {
  width: 100%;
  padding-right: 35%;
}

.form__controls--password button {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-grey-3);
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.form__controls--password button.hidden {
  display: none;
}

.error__text {
  padding: 0.5em 0;
  margin-left: 6px;
  text-align: left;
}
